{% extends "layout.html.twig" %}

{#{% block stylesheets %}
    <link href="{{ asset('css/compteclient.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}#}

{% block content %}
    <div class="container">
    <div class="container-fluid">
        <div id="liens" class="row">
            <div class="col-md-6 col-xs-12">
                <button type="button" class="btn btn-block"><a href="#biodechets">Vos biodéchets<a></button>
            </div>
            <div class=" col-md-6 col-xs-12">
                <button type="button" class="btn btn-block"><a href="#contact">Vous et les alchimistes</a></button>
            </div>
        </div>

        <div id="biodechets"></div>
        <div class="row bloc jaune">

            <div class="col-xs-12 col-md-4 panel-body btn-group-vertical" role="group">
                <button type="button" class="btn btn-primary">Vos DAC</button>
                <button type="button" class="btn btn-default">Collecte du 12/09/2017<span class="glyphicon glyphicon-eye-open pull-right"><a></a></span></button>
                <button type="button" class="btn btn-default">Collecte du 12/09/2017<span class="glyphicon glyphicon-eye-open pull-right"><a></a></span></button>
                <button type="button" class="btn btn-default">Collecte du 12/09/2017<span class="glyphicon glyphicon-eye-open pull-right"></span></button>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">Nombre de kilos de biodéchets collectés<br />cette semaine</h3>
                    </div>
                    <div class="panel-body text-center">
                        {{ user_manager.clientName }}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">Nombre de kilos de biodéchets collectés<br />depuis le début</h3>
                    </div>
                    <div class="panel-body text-center">
                        {{ user_manager.client.company }}
                    </div>
                </div>
            </div>

        </div>

        <div id="contact"></div>
        <div class="row bloc vert">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Vos informations</h3>
                    </div>
                    <div class="panel-body text-left">
                        <p>{{ user_manager.client.company }}</p>
                        <p>{{ user_manager.client.billingaddress}} {{ user_manager.client.postalcode}} {{ user_manager.client.city}}.</p>
                        <p>Tél. (de 9h à 17h30) : {{ user_manager.client.phonenumber }}.</p>
                        <p>Contact : {{ user_manager.client.firstname }} {{ user_manager.client.lastname }}.</p>
                        <p>Courriel :{{ user_manager.client.email }}.</p>
{#                        <p>{{ user_manager.AdressesCollectionsHaveCollector.collection_datetime }}</p>#}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Votre collecteur</h3>
                    </div>
                    <div class="panel-body text-left">
                        {% for collector in collectors %}
                            <p>Contact : {{ collector.firstname }} {{ collector.lastname }}.</p>
                        <p>Tél. (de 9h à 17h30): {{ collector.phonenumber }}.</p>
                        <p>Courriel :{{ collector.email }}</p>
                        <p>Contactez {{ collector.firstname }} en cas de besoin de ramassage.</p>
                        {% endfor %}                        
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Votre contact administrateur</h3>
                    </div>
                    <div class="panel-body">
{#                        <p>Nom contact : {{user_manager.admin.firstname }}</p>#}
                        <p>Tél. (de 9h à 17h30):</p>
                        <p>Courriel :</p>
                        <p>Contactez Hélène pour tous les sujets relatifs aux Alchimistes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
