{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">

                <div class="row">
                    <div class="text-center bloc gris dactitle">
                        DOCUMENT D'ACCOMPAGNEMENT COMMERCIAL (DAC)<br />
                        Pour le transport de sous-produits animaux de catégorie 3<br />
                        Transformés ou non
                    </div>
                </div>

                {% for oneDacDetail in oneDacDetails %}                
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr class="text-center">
                                    <td colspan="4" class="tabtitle">Dénomination et poids des sous-produits</td>
                                </tr>
                                <tr class="text-center">
                                    <td colspan="4" class="tabsubtitle">Sous-produits animaux de CATEGORIE 3 - impropres à la consommation humaine</td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <p><strong>Description du produit :</strong></p>
                                        <p style="text-indent: 3em;"><strong>biodéchets triés à la source, issus de : </strong>{{ oneDacDetail.lieu.firm_type }}.</p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p><strong>N° du bac : </strong>{{ oneDacDetail.bin_number }}.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p><strong>Qualité des biodéchets :</strong> {{ oneDacDetail.compost_quality }}.</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"><strong>Espèces représentés :</strong> mélange (produits en vrac).</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p><strong>Informations complémentaires, nature des produits ajoutés (sel, anticoagulant...), le cas échéant: </strong>
                                            {{ oneDacDetail.further_information }}.</p>
                                    </td>
                                    <td colspan="2"><strong>Poids total (en Kg) pesé : </strong>{{ oneDacDetail.weight }}.</td> 
                                </tr>
                                <tr class="text-center">
                                    <td colspan="4" class="tabtitle">Etablissement de départ des sous-produits</td>
                                </tr>
                                <tr>
                                    <td colspan="2" rowspan="3">
                                        <p><strong>Type d'établissement : </strong>{{ oneDacDetail.lieu.firm_type }}.<p>
                                        <p><strong>Raison sociale et adresse :</strong></p>
                                            <p class="text-center">
                                                {{ oneDacDetail.lieu.address_collection }}<br /> {{ oneDacDetail.lieu.postal_code }} {{ oneDacDetail.lieu.city }}
                                            </p>
                                    </td>
                                    <td colspan="2"><strong>N° de SIRET :</strong>{{ user_manager.user.siret }}.</td>
                                </tr>
                                <tr>
                                    <td><strong>Téléphone :</strong>{{ user_manager.user.phonenumber }}.</td>
                                    <td><strong>Fax :</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Nom du responsable/représentant de l'établissement de départ :</strong>
                                        <p class="text-center">{{ user_manager.user.firstname }} {{ user_manager.user.lastname }}</p>
                                    </td>
                                </tr>        
                                <tr class="text-center">
                                    <td colspan="4" class="tabtitle">Collecteur - Transporteur des sous-produits</td>
                                </tr>
                                <tr>
                                    <td colspan="2" rowspan="5">
                                        <p><strong>Raison sociale et adresse:</strong></p>
                                        <p class="text-center">
                                            SAS Les Alchimistes<br/>6 rue Arnold Géraux<br/>93450 L'île Saint-Denis
                                        </p>
                                    </td>
                                    <td colspan="2"><strong>N° d'enregistrement :</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Téléphone : 01 84 21 47 89.</strong></td>
                                    <td><strong>Fax :</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>N° d'immatriculation :</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Date de chargement : </strong>{{ oneDacDetail.collection_datetime }}.</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Nom et signature du chauffeur/collecteur : </strong>{{ oneDacDetail.collector.firstname }} {{ oneDacDetail.collector.lastname }}.
                                    </td>
                                </tr>
                                <tr class="text-center">
                                    <td colspan="4" class="tabtitle">Etablissement destinataire des sous-produits</td>
                                </tr>
                                <tr>
                                    <td colspan="2" rowspan="2"><strong>Type d'établissement : installation de compostage.</strong></td>
                                    <td colspan="2"><strong>N° d'agrément :</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Téléphone :</strong> 01 84 21 47 89.</td>
                                    <td><strong>Fax :</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2" rowspan="2">
                                        <p><strong>Raison sociale et adresse :</strong></p>
                                        <p class="text-center">
                                            SAS Les Alchimistes<br/>
                                            {{ oneDacDetail.location_processing.processing_address }}<br /> {{ oneDacDetail.location_processing.postal_code }} {{ oneDacDetail.location_processing.city }}.
                                        </p>
                                    </td>
                                    <td colspan="2"><strong>Date et heure de réception : </strong>{{ oneDacDetail.processing_datetime }}.</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Nom du responsable du site de destination ou de son représentant :</strong>
                                        <p class="text-center">Fabien-Kenzo Sato</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="text-center">
                            <h4 class="ici">Pour obtenir votre DAC au format PDF, cliquez <a href="{{ path('dacpdf', {id_dac: oneDacDetail.id_adresses_collections_have_collector}) }}">ici</a>.</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
