{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="blocGauche2 col-lg-10 col-md-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1">
    <div class="container-fluid">
        <div id="liens" class="row">
            <div class="col-md-6 col-xs-12">
                <button type="button" class="btn btn-block"><a href="#biodechets">Vos biodéchets<a></button>
            </div>
            <div class=" col-md-6 col-xs-12">
                <button type="button" class="btn btn-block"><a href="#contact">Vous et les alchimistes</a></button>
            </div>
        </div>

        <div id="biodechets"></div>
        <div class="row jaune bloc-comptetitle bloc">

            <div class="col-xs-12 col-md-6 panel-body btn-group-vertical dacbouton" role="group">
                <button type="button" class="btn btn-primary btn-static">Vos DAC</button>
                    <div class="btn btn-default  btn-group-vertical" style="max-height: 10em; overflow-y: scroll;">
                    {% for collectionDate in collectionDates %}
                        <button type="button" class="btn btn-default btn-static text-left">
                            Collecte du {{ collectionDate.collection_datetime }}
                            <a class="btn btn-default pull-right" href="{{ path('compteclientdac', {id_dac: collectionDate.id_adresses_collections_have_collector}) }}">
                                <i class="fa fa-file" aria-hidden="true"></i>
                            </a>
                        </button>
                    {% endfor %}
                    </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">Biodéchets collectés cette semaine (en Kg).</h3>
                    </div>
                    <div class="panel-body text-center">
                        {{ currentWeekBioWasteWeight }}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">Biodéchets collectés depuis le début (en Kg).</h3>
                    </div>
                    <div class="panel-body text-center">
                        {{ totalBioWasteWeight }}
                    </div>
                </div>
            </div>

        </div>

        <div id="contact"></div>
        <div class="row bloc vert bloc-comptetitle">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center"><strong>Vos informations client</strong></h3>
                        </div>
                        <div class="panel-body text-left">
                            <p>{{ user_manager.user.company }}</p>
                            <p>{{ user_manager.user.billingaddress}}<br />{{ user_manager.user.postalcode}} {{ user_manager.user.city}}</p>
                            <p>Contact : {{ user_manager.user.firstname }} {{ user_manager.user.lastname }}.</p>
                            <p>Tél. (de 9h à 17h30) : {{ user_manager.user.phonenumber }}.</p>
                            <p>Courriel : {{ user_manager.user.email }}.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center"><strong>Votre contact administrateur</strong></h3>
                        </div>
                        <div class="panel-body">
                            <p>Contact : Fabien-Kenzo Sato</p>
                            <p>Fixe (de 9h à 17h30): 01 84 21 47 89</p>
                            <p>Mobile : 07 77 07 08 10</p>
                            <p>Courriel : kenzo@alchimistes.co</p>
                            <p>Contactez Kenzo pour tous les sujets relatifs aux Alchimistes</p>
                        </div>
                    </div>
                </div>
            </div>

            {% for lieu in lieux %}
               <div class="row ">
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <h4><strong>Votre lieu de collecte : {{ lieu.address_name }}</strong></h4>
                                <p class="text-left">{{ lieu.address_collection }}<br />{{ lieu.postal_code }} {{ lieu.city }}</p>
                                <p class="text-left">Type d'établissement : {{ lieu.firm_type }}.</p>
                                <p class="text-left">Jours de collecte : {{ lieu.collection_day }}.</p>
                                <p class="text-left">Information complémentaires : {{ lieu.further_information }}.
                                </div>

                                {% if lieu.collector.idcollector is empty %}
                                   <div class="col-md-6">
                                       <h4><strong>Le collecteur a contacter pour ce lieu</strong></h4>
                                       <p>Pour le moment, aucun collecteur n'est attribué à ce lieu.</p>
                                   </div>
                                {% else %}
                                    <div class="col-md-6">
                                        <h4><strong>Le collecteur a contacter pour ce lieu</strong></h4>
                                    <p class="text-left">Collecteur : {{ lieu.collector.firstname }} {{ lieu.collector.lastname }}.</p>
                                    <p class="text-left">Tél. (de 9h à 17h30): {{ lieu.collector.phone_number }}.</p>
                                    <p class="text-left">Courriel :{{ lieu.collector.email }}</p>
                                    <p class="text-leftt">Contactez {{ lieu.collector.firstname }} en cas de besoin de ramassage.</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
