{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
    <h1>Bienvenue {{ user_manager.firstname }}!</h1>
    <div id="collector_nav" class="row">
        <div class="col-md-4 col-xs-12">
            <button type="button" class="btn btn-block"><a href="#collecte">Collecte de biodéchets</a></button>
        </div>
        <div class="col-md-4 col-xs-12">
            <button type="button" class="btn btn-block"><a href="#composte">Récolte de composte</a></button>
        </div>
        <div class="col-md-4 col-xs-12">
            <button type="button" class="btn btn-block"><a href="#recap">Vos réussites</a></button>
        </div>
    </div>
    <div id="collecte" class="row bloc jaune">
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading "><h3 class='panel-title'>Nouvelle collecte</h3></div>
                <div class="panel-body">
                    <a type="button" class="btn btn-block btn-success">Ajouter</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h3 class='panel-title'>Formulaires à compléter</h3></div>
                <div class="panel-body btn-group-vertical btn-block" role="group" aria-label="...">
                {%for lieu in lieux%}
                    <a href="" class="btn btn-default">
                        {{ lieu }}
                        <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
                    </a>
                {%endfor%}
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"> 
                    <h3 class='panel-title'>Clients à collecter</h3>
                </div>
                <div class="panel-body">
                    <h3>A collecter aujourd'hui</h3>
                    {%for adresse in adresses%}
                    <ul>
                        <li>Etablissement: {{adresse.address_name}}</li>
                        <li>Adresse: {{adresse.address_collection}}</li>
                        <li>Code postal: {{adresse.postal_code}}</li>
                        <li>Ville: {{adresse.city}}</li>
                    </ul>                    
                    {% if not loop.last%} {# si ce n'est pas le dernier tour de boucle #}
                        <hr>
                    {% endif %}
                    {%endfor%}
                    <hr>
                    <h3>A récolter demain</h3>
                    {%for adresse in adressesTomorrow%}
                    <ul>
                        <li>Etablissement: {{adresse.address_name}}</li>
                        <li>Adresse: {{adresse.address_collection}}</li>
                        <li>Code postal: {{adresse.postal_code}}</li>
                        <li>Ville: {{adresse.city}}</li>
                    </ul>                    
                    {% if not loop.last%} {# si ce n'est pas le dernier tour de boucle #}
                        <hr>
                    {% endif %}
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h3 class='panel-title'>Vos DAC de la semaine dernière</h3></div>
                <div class="panel-body btn-group-vertical btn-block" role="group" aria-label="...">
                    
                    <a type="button" class="btn btn-default">
                        Nom Client
                        <span class="glyphicon glyphicon-eye-open pull-right" aria-hidden="true"></span>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="composte" class="bloc vert row">
        <div class="col-md-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading "><h3 class='panel-title'>Rentrez le composte collecté</h3></div>
                <div class="panel-body">
                    <form method="post">
                        <fieldset>
                          <a href="{{path('registeroutputcompost')}}" type="submit" id="singlebutton" name="singlebutton" class="btn btn-success">Insérer</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <div class="panel panel-default text-center">
                <div class="panel-heading "><h3 class='panel-title'>Biodéchets collectés depuis le début de votre mission</h3></div>
                <div class="panel-body">
                    <strong>{{totalWaste}} kilos</strong><br>
                    <i>Super!</i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <div class="panel panel-default text-center">
                <div class="panel-heading "><h3 class='panel-title'>Biodéchets collectés cette semaine</h3></div>
                <div class="panel-body">
                    <strong>{{weeklyWaste}} kilos</strong><br>
                    <i>Bravo!</i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <div class="panel panel-default text-center">
                <div class="panel-heading "><h3 class='panel-title'>Composte collecté cette semaine</h3></div>
                <div class="panel-body">
                    <strong>{{weeklyOutput}} kilos</strong><br>
                    <i>:)</i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <div class="panel panel-default text-center">
                <div class="panel-heading "><h3 class='panel-title'>Composte collecté depuis le début de votre mission</h3></div>
                <div class="panel-body">
                    <strong>{{totalOutput}} kilos</strong><br>
                    <i>Génial</i>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
