{% extends "layout.html.twig" %}

{% block content %}
    <hr class="hrStyle col-lg-10 col-md-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1">

    <div class="container ">    
        {#le menu en deskotp#}
        <div class="list col-md-2 col-sm-2 col-lg-2 col-xs-2">
            {#menu niveau 1#}
            <div id="monmenu" style="padding-left: 0px">
                <ul class=niveau1>
                    <li class="plus italic"><a href="#">Lieux de traitement</a></li>
                        {% for location in locations %}
                        <li><a  class="col-md-9 col-sm-9 col-lg-9 col-xs-9" href="{{path ('registerlieutraitement', {id: location.id_location_processing}) }}" >{{location.processing_location}}</a><span class="glyphicon glyphicon-menu-right pull right" style="font-size:2em;"></span>

                            {#menu niveau 2#}
                            <ul class=niveau2>
                                <li class="plus italic"><a href="#"> les collecteurs</a></li>
                                    {% for collector in location.collectors %}
                                    <li class=plus><a class="col-md-9 col-sm-9 col-lg-9 col-xs-9" href="{{path ('registercollector', {id: collector.idcollector}) }}" >{{collector.firstname}}</a><span class="glyphicon glyphicon-menu-right pull right" style="font-size:2em; "></span>

                                        {#menu niveau 3#}
                                        <ul class ="niveau3">
                                            <li class="plus italic"> <a href="#">Clients à collecter</a></li>
                                                {% for client in location.clients %}
                                                <li class=plus>
                                                    <a class="col-md-9 col-sm-9 col-lg-9 col-xs-9" href="{{path ('registerclient', {id:client.idclient })}}">{{client.fullname}}</a><span class="glyphicon glyphicon-menu-right pull right" style="font-size:2em;"></span>

                                                    {#menu niveau 4#}
                                                    <ul class=niveau4>
                                                        <li class="plus italic"><a href="#"> les lieux de colectes</a></li>
                                                            {% for lieu in location.lieux %}
                                                            <li class=plus>
                                                                <a href="{{path ('registerlieucollecte', {id: lieu.id_collection_address}) }}">{{lieu.address_name}}</a>
                                                            </li>
                                                        {% endfor %}
                                                        <li class="plus italic">ajouter un lieu de collecte à ce secteur<a class="buttonlink" href="{{ path('registerlieucollecte')}}"><span class="glyphicon glyphicon-plus"></span></a></li>
                                                    </ul>{# fin menu niveau 4#}

                                                </li>
                                            {% endfor %}
                                            <li class="plus italic">ajouter un client <a class="buttonlink" href="{{ path('registerclient')}}"><span class="glyphicon glyphicon-plus"></span></a></li>
                                        </ul>{# fin menu niveau 3#}
                                    </li>
                                {% endfor %}
                                <li class="plus italic">ajouter un collectecteur à ce lieu de traitement<a class="buttonlink" href="{{ path('registertraitementcollector')}}"><span class="glyphicon glyphicon-plus"></span></a></li>
                            </ul>{# fin menu niveau 2#}

                        </li>{% endfor %}
                        <li class="plus italic">ajouter un secteur<a class="buttonlink" href="{{ path('registerlieutraitement')}}"><span class="glyphicon glyphicon-plus"></span></a></li>
                    </ul>
                </div>{# fin menu niveau 1#}
            </div>

            {#listes#}
            <div class="col-md-3 col-md-offset-1 col-xs-12">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h3 class="accesliste">liste des collecteurs</h3>
                        <a href="{{ path('registercollector')}}">
                            <img  src="{{asset('images/list.png')}}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1  col-xs-12">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h3 class="accesliste">liste des les clients</h3>
                        <a href="{{ path('registerclient')}}">
                            <img  src="{{asset('images/list.png')}}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-xs-12">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h3 class="accesliste">liste des lieux de collectes</h3>
                        <a href="{{ path('registerlieutraitement')}}">
                            <img  src="{{asset('images/list.png')}}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-xs-12">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h3 class="accesliste">liste des lieux de traitement</h3>
                        <a href="{{ path('registerlieutraitement')}}">
                            <img  src="{{asset('images/list.png')}}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-xs-12">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h3 class="accesliste">liste des relations entre les lieux de traitement et les collecteurs</h3>
                        <a href="{{ path('registerlieutraitement')}}">
                            <img  src="{{asset('images/list.png')}}">
                        </a>
                    </div>
                </div>
            </div>
            {#blocs informations#}
            <div class="row col-md-8 col-md-offset-1"> 
                <div class="col-md-5 col-md-offset-1 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading ">
                            <p><strong><p class="kg">{{totalweightbyweek}} Kg </p> de biodéchets collectés cette semaine</strong></p>
                            <i class="kg">Bravo!</i><span class="fa-angle-right" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading ">
                            <p><strong><p class="kg">{{totalweight}} Kg </p> de biodéchets collecté depuis le début de l'année</strong></p>
                            <i class="kg">Bravo!</i>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-1 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading ">
                            <p><strong><p class="kg">{{totalweightoutputcompost}} Kg </p> de composte collectés cette année</strong></p>
                            <i class="kg">Bravo!</i><span class="fa-angle-right" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading ">
                            <p><strong><p class="kg">{{totalweightoutputcompostbyweek}} Kg </p> de composte collecté cette semaine</strong></p>
                            <i class="kg">Bravo!</i>
                        </div>
                    </div>
                </div>

                {#Blocs créations#}          
                <div class="col-md-3 col-md-offset-1 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <h3>Nouveau collecteur</h3>
                            <a href="{{ path('registercollector')}}">
                                <img  src="{{asset('images/add.png')}}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1  col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <h3>Nouveau client</h3>
                            <a href="{{ path('registerclient')}}">
                                <img  src="{{asset('images/add.png')}}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 col-xs-12">
                    <div class="panel panel-default text-center">

                        <div class="panel-body">
                            <h3>Nouveau secteur</h3>
                            <a href="{{ path('registerlieutraitement')}}">
                                <img  src="{{asset('images/add.png')}}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            



            {% endblock %}
