<!DOCTYPE html>

<html lang="fr">

    <head>

        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title '' %} Les alchimistes</title>

        {% block stylesheets %}

            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

            <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

            <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />

            <link href="{{ asset('css/compteclient.css') }}" rel="stylesheet" type="text/css" />

            <link href="{{ asset('css/collector.css') }}" rel="stylesheet" type="text/css"/>

            <link href="{{ asset('css/menuadmin.css') }}" rel="stylesheet" type="text/css"/>
            
            <link href="{{ asset('css/homepage.css') }}" rel="stylesheet" type="text/css"/>

            <link href="https://fonts.googleapis.com/css?family=Anton|Arvo|Oswald|Poppins" rel="stylesheet">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% endblock %}

    </head>

    <body>

        <nav class="navbar ombrage">

            <div class="container">

                <div>
                    <div class="col-lg-3 col-md-3 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1">
                        <a href="{{path('homepage')}}"><img id="ImageHeader" src="{{asset('images/Alchimiste_logo.png')}}"></a>
                    </div>
                    {% if user_manager.user %}
                        <div style="text-align:center;" class="bloc-deconnexion col-lg-3 col-md-3 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1" style="text-align: left;">
                            <span>Bonjour {{ user_manager.firstname }}</span>
                            <br>
                            <a href="{{path('deconnexion')}}">Deconnexion</a>
                        </div>
                            {% if user_manager.admin %}
                                <div style="text-align:center;" class="col-lg-3 col-md-3 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1">
                                    <a href="{{path('compteadmin')}}"><img class="imageLogoHeader" src="{{asset('images/composteur2.png')}}">
                                        <br>
                                        <span>Compte Alchimistes</span>
                                    </a>
                                </div>
                                <div class="clear"></div>
                            {% elseif user_manager.collector %}
                                <div style="text-align:center;" class="col-lg-3 col-md-3 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1">
                                    <a href="{{path('comptecollecteur')}}"><img class="imageLogoHeader" src="{{asset('images/velo.png')}}">
                                        <br>
                                        <span>Compte Collecteur</span>
                                    </a>
                                </div>
                                <div class="clear"></div>
                            {% else %}
                                <div style="text-align:center;" class="col-lg-3 col-md-3 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1">
                                    <a href="{{path('compteclient')}}"><img class="imageLogoHeader" src="{{asset('images/plante.png')}}" >
                                        <br>
                                        <span>Compte Client</span>
                                    </a>
                                </div>
                                <div class="clear"></div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div style="text-align:center;" class="col-lg-3 col-md-3 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1">
                            <a href="{{path('connexion')}}"><img class="imageLogoHeader" src="{{asset('images/déchets2.png')}}" >
                                <br>
                                <span>Connexion</span>
                            </a>
                        </div>
                        <div class="clear"></div>
                    {% endif %}
                    
                    
                    
                    {#{% if user_manager.user %}
                        {% if user_manager.admin%}
                            {% elseif  user_manager.collector %}
                            {% else %} 
                                <div class="img bloclegende"><a href="{{path('compteclient')}}"><img class=" une" src="{{asset('images/déchets2.png')}}" >Compte Client</a><div class="clear"></div>
                        {% endif %}
                    {% endif %}

                    {% if user_manager.user %}
                        {% if user_manager.admin %} 
                        {% elseif  user_manager.collector %}
                            <div class="img bloclegende2"><a href="{{path('comptecollecteur')}}"><img class="img deux" src="{{asset('images/velo.png')}}" >Compte Collecteur</a></div>
                        {% else %}
                        {% endif %}
                    {% endif %}


                    {% if user_manager.user %}
                        {% if user_manager.admin %}
                            <div class="img bloclegende3"><a href="{{path('compteadmin')}}"><img class="img trois" src="{{asset('images/composteur2.png')}}">Compte Alchimistes</a></div>
                        {% elseif  user_manager.collector %}
                        {% elseif not user_manager.collector and not user_manager.collector%}
                        {% else %}
                        {% endif %}
                    {% endif %}

                    {% if user_manager.user is empty %}

                        <div class="img bloclegende">
                            <a href="{{path('connexion')}}"><img class=" une" src="{{asset('images/déchets2.png')}}" >Compte Client</a><div class="clear"></div>
                        </div>
                        <div class="img bloclegende2"><a href="{{path('connexion')}}"><img class="img deux" src="{{asset('images/velo.png')}}" >Compte Collecteur</a></div>
                        <div class="img bloclegende3"><a href="{{path('connexion')}}"><img class="img trois" src="{{asset('images/composteur2.png')}}">Compte Alchimistes</a></div>
                        <div class="img bloclegende4"><a href="{{path('connexion')}}"><img class="img quatre" src="{{asset('images/plante.png')}}">Connexion</a></div>
                        <div class="clear"></div>
                    {% else %}
                    {% endif %}

                        <div class="clear"></div>
                        {% if user_manager.user is empty%}
                        <div class="navresponsive">
                            <nav class="navbar navbar-default ">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        {% if user_manager.admin %}
                                        <div class="navbar-header">
                                            <a class="navbar-brand" href="{{path('compteadmin')}}">
                                                Compte alchimiste
                                            </a>
                                        </div>
                                        {% elseif  user_manager.collector %}
                                        <div class="navbar-header">
                                            <a class="navbar-brand" href="{{path('connexion')}}">
                                                Compte collecteur
                                            </a>
                                        </div>
                                        {% else %}
                                        <div class="navbar-header">
                                            <a class="navbar-brand" href="{{path('connexion')}}">
                                                Compte client
                                            </a>
                                        </div>
                                        {% endif %}
                                        {% if user_manager.user is empty %}  
                                            <div class="navbar-header">
                                                <a class="navbar-brand" href="{{path('connexion')}}">Acceuil</a>
                                            </div>
                                            <div class="navbar-header">
                                                <a class="navbar-brand" href="{{path('connexion')}}">Compte client</a>
                                            </div>
                                            <div class="navbar-header">
                                                <a class="navbar-brand" href="{{path('connexion')}}">Compte collecteur</a>
                                            </div>
                                            <div class="navbar-header">
                                                <a class="navbar-brand" href="{{path('connexion')}}">Connexion</a>
                                            </div>
                                        {% else %}
                                        {% endif %}
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>

                    {% if user_manager.user %}
                        <div class=" col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align: left;">
                            <span style="font-size:1.7em;font-weight: bold;">Bonjour {{ user_manager.firstname }}</span>
                            <br>
                            <a style="font-size:1.3em;font-weight: bold;" href="{{path('deconnexion')}}">Deconnexion</a>
                        </div>
                        <div class="clear"></div>
                    {% endif %}#}
                </div>
            </div>
                </div>
            </div>
        </nav>

        <div>

            {% for type, flashes in app.session.flashbag.all %}

                {% for  flash in flashes %}

                    {% if type == 'error' %} {% set type = 'danger' %} {% endif %}

                    <div class="alert alert-{{type}}"> {{ flash | raw }} </div>

                {% endfor %}

            {% endfor %}

            {% block content %}

            {% endblock %}

        </div>

        {% block javascripts %}

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

            <script src="{{asset('js/homepagescript.js')}}"></script>

            <script src="{{asset('js/menu.js')}}"></script>

        {% endblock %}

    </body>

</html>

