{% extends "layout.html.twig"%}
{% block content %}
    <hr class="hrStyle col-lg-10 col-md-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1">
    <div class="">
        <div class="col-lg-10 col-md-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1">
            <h1>Lieux de collecte</h1>
            <a href="{{ path('registerlieucollecte') }}"><span>Ajouter un lieu de collecte</span></a>
            <br><br>
        </div>
        <div class="col-lg-10 col-md-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1">
        <table class="table">
            <tr>
                <th>Adresse</th>
                <th>Nom de l'adresse</th>
                <th>Type d'établissement</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Jour de collecte</th>
                <th>Informations Complémentaires</th>
                <th>Nom du client</th>
                <th>Prénom du client</th>
            </tr>
            {% for collecte in collectes %}
                <tr>
                    <th>{{ collecte.address_collection }}</th>
                    <th>{{ collecte.address_name }}</th>
                    <th>{{ collecte.firm_type }}</th>
                    <th>{{ collecte.postal_code }}</th>
                    <th>{{ collecte.city }}</th>
                    <th>{{ collecte.country }}</th>
                    <th>{{ collecte.collection_day }}</th>
                    <th>{{ collecte.further_information }}</th>
                    <th>{{ collecte.clientFirstname }}</th>
                    <th>{{ collecte.clientLastname }}</th>
                    <th><a  href="{{path ('registerlieucollecte', {id: collecte.id_collection_address}) }}" style="font-weight: bold">Modifier</a></th>
                    <th><a  href="{{path ('registerlieucollecte', {id: collecte.id_collection_address}) }}" style="font-weight: bold">Supprimer</a></th>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock %}