{% extends "layout.html.twig" %}
{% block content %}
    <form class="form-horizontal " method="post" >
        <fieldset>
            <legend style="text-align: center;"><strong>{% if collector.idcollector%}Modification des informations du collecteur : {{ collector.lastname }} {{ collector.firstname }}{% else %}Ajout d'un collecteur{% endif %}</strong></legend>
            <div class="form-group">
            <label class="col-md-4 control-label" for="lastname">Nom</label>  
                <div class="col-md-4">
                    <input id="nom" name="lastname" type="text" placeholder="Nom" class="form-control input-md" value="{{ collector.lastname }}">
                </div>
            </div>
            <div class="form-group">
            <label class="col-md-4 control-label" for="firstname">Prénom</label>  
                <div class="col-md-4">
                    <input id="prénom" name="firstname" type="text" placeholder="Prénom" class="form-control input-md" value="{{ collector.firstname }}">  
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="address">Adresse</label>  
                <div class="col-md-4">
                    <input id="adresse" name="address" type="text" placeholder="Adresse" class="form-control input-md" value="{{ collector.address }}"> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="city">Ville</label>  
                <div class="col-md-4">
                    <input id="ville" name="city" type="text" placeholder="ville" class="form-control input-md" value="{{ collector.city }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="postal_code">Code postal</label>  
                <div class="col-md-4">
                    <input id="codepostal" name="postal_code" type="text" placeholder="Code postal" class="form-control input-md" value="{{ collector.postal_code }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>  
                <div class="col-md-4">
                    <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" value="{{ collector.email }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="phone_number">Numéro de téléphone</label>  
                <div class="col-md-4">
                    <input id="telephone" name="phone_number" type="text" placeholder="Numéro de téléphone" class="form-control input-md" value="{{ collector.phone_number }}"> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Mot de passe</label>
                <div class="col-md-4">
                    <input id="mot de passe" name="password" type="password" placeholder="Mot de passe" class="form-control input-md">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="password_confirm">Confirmation du mot de passe</label>
                <div class="col-md-4">
                    <input id="mot de passe" name="password_confirm" type="password" placeholder="Confirmation du mot de passe" class="form-control input-md">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="statut">Statut</label>
                <div class="col-md-4">
                    <select id="statut" name="status" class="form-control">
                        <option value="salarié">Collecteur</option>
                        <option value="admin">collecteur &amp; administrateur</option>
                    </select>
                </div>
             </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="valider"></label>
                <div class="col-md-8">
                    <button id="valider" name="valider" class="btn btn-success" type="submit">Valider</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
              
