{% extends "layout.html.twig" %}
{% block content %}
<form class="form-horizontal" method="post">
    <fieldset>
        <legend style="text-align: center;"><strong>Ajout d'un client</strong></legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="company">Société</label>  
            <div class="col-md-4">
                <input id="societe" name="company" type="text" placeholder="Société" class="form-control input-md" value="{{ client.company }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="start_date_contract">Date début contrat</label>  
            <div class="col-md-4">
                <input id="date" name="start_date_contract" type="text" placeholder="Date début contrat format : 30/12/2000" class="form-control input-md" value="{{ client.startdatecontract }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="siret">Numéro SIRET</label>  
            <div class="col-md-4">
                <input id="siret" name="siret" type="text" placeholder="Numéro SIRET 14 chiffres" class="form-control input-md" value="{{ client.siret }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="lastname">Nom</label>  
            <div class="col-md-4">
                <input id="nom" name="lastname" type="text" placeholder="Nom" class="form-control input-md" value="{{ client.lastname }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="firstname">Prénom</label>  
            <div class="col-md-4">
                <input id="prenom" name="firstname" type="text" placeholder="Prénom" class="form-control input-md" value="{{ client.firstname }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>  
            <div class="col-md-4">
                <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" value="{{ client.email }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="phone_number">Numéro de téléphone</label>  
            <div class="col-md-4">
                <input id="tel" name="phone_number" type="text" placeholder="Numéro de téléphone" class="form-control input-md" value="{{ client.phonenumber }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="billing_address">Adresse de facturation</label>  
            <div class="col-md-4">
                <input id="adresse_facturation" name="billing_address" type="text" placeholder="Adresse de facturation" class="form-control input-md" value="{{ client.billingaddress }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="postal_code">Code Postal</label>  
            <div class="col-md-4">
                <input id="code_postal" name="postal_code" type="text" placeholder="Code Postal" class="form-control input-md" value="{{ client.postalcode }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="city">Ville</label>  
            <div class="col-md-4">
                <input id="ville" name="city" type="text" placeholder="Ville" class="form-control input-md" value="{{ client.city }}">
    
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="country">Pays</label>  
            <div class="col-md-4">
                <input id="pays" name="country" type="text" placeholder="Pays" class="form-control input-md" value="{{ client.country }}">
    
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Mot de passe</label>  
            <div class="col-md-4">
                <input id="password" name="password" type="password" placeholder="Mot de passe" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="password_confirm">Confirmation du mot de passe</label>  
            <div class="col-md-4">
                <input id="password" name="password_confirm" type="password" placeholder="Confirmation du mot de passe" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="is_active">Actif</label>
            <div class="col-md-4">
                <select id="actif" name="is_active" class="form-control">
                    <option value="1">Actif</option>
                    <option value="0">Inactif</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="valider"></label>
            <div class="col-md-8">
                <button id="valider" name="valider" class="btn btn-success" type="submit">Valider</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
