{% extends "layout.html.twig" %}
{% block content %}
<form class="form-horizontal" method="post">
    <fieldset>
        <legend style="text-align: center;"><strong>Formulaire sortie du compost</strong></legend>
        {#<div class="form-group">
            <label class="col-md-4 control-label" for="output_datetime">Date de sortie</label>  
            <div class="col-md-4">
                <input id="poids" name="output_datetime" type="text" placeholder="Date de sortie" class="form-control input-md" value="{{ output.output_datetime }}"> 
            </div>
        </div>#}
        <div class="form-group">
            <label class="col-md-4 control-label" for="quantity_exit">Poids</label>  
            <div class="col-md-4">
                <input id="poids" name="quantity_exit" type="text" placeholder="Poids en kg" class="form-control input-md" value="{{ output.quantity_exit }}"> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="collector_idcollector">Collecteur</label>
            <div class="col-md-4">
                <select id="client" name="collector_idcollector" class="form-control">
                    <option value="{{user.idcollector}}">{{user.fullname}}</option>
                    {#{% for collector in collectors %}
                             <option value="{{collector.idcollector}}">{{collector.firstname}} {{collector.lastname}}</option>
                    {% endfor %}#}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="location_processing_idlocation_processing">Lieu de traitement</label>
            <div class="col-md-4">
                <select id="client" name="location_processing_idlocation_processing" class="form-control">
                    <option value="">Choisissez un lieu de traitement</option>
                    {% for location in locations %}
                            <option value="{{location.id_location_processing}}">{{location.processing_location}} </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="valider"></label>
            <div class="col-md-8">
                <button id="valider" name="valider" class="btn btn-success" type="submit">Valider</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
