{% extends "layout.html.twig" %}
{% block content %}
        <form class="form-horizontal" method="post">
            <fieldset>
                <!-- Form Name -->
                <legend style="text-align: center;"><strong>{% if collecte.id_adresses_collections_have_collector%}Ajout sur le formulaire de collecte de : {{ collecte.processing_location }} {% else %}Ajout d'une collecte{% endif %}</strong></legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="adress_collection_idadress_collection">Lieu collecté</label>
                    <div class="col-md-4">
                        <select id="lieucollecté" name="adress_collection_idadress_collection" class="form-control">
                            <option value="">Sélectionnez le lieu de collecte</option>
                             <option value="{{collecte.id_collection_address}}"{%if collecte.id_collection_address == collecte.adress_collection_idadress_collection %}selected{%endif%}>{{lieu.address_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="collector_idcollector">Collecteur</label>
                    <div class="col-md-4">
                        <select id="lieucollecté" name="collector_idcollector" class="form-control">
                            <option value="{{user.idcollector}}">{{user.fullname}}</option>
                            {#{% for collector in collectors %}
                             <option value="{{collector.idcollector}}"{%if collector.idcollector == collecte.collector_idcollector%}selected{%endif%}>{{collector.firstname}} {{collector.lastname}}</option>
                            {% endfor %}#}
                        </select>
                        {#<input id="id_collector" name="collector_idcollector" type="int" class="form-control input-md" value="{{user.idcollector}}" placeholder="{{user.fullname}}">#}
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-4 control-label" for="collection_datetime">Date et Heure de ramassage</label>  
                    <div class="col-md-4">
                        <input id="collection_datetime" name="collection_datetime" type="datetime-local" placeholder="Date et Heure de ramassage" class="form-control input-md" value="{{ collecte.collection_datetime }}"> 
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-4 control-label" for="bin_number">Numéro du bac collecté</label>  
                    <div class="col-md-4">
                        <input id="bin_number" name="bin_number" type="text" placeholder="Numéro du bac collecté" class="form-control input-md" value="{{ collecte.bin_number }}"> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="weight">Poids composté en kg</label>  
                    <div class="col-md-4">
                        <input id="poids composté" name="weight" type="text" placeholder="Poids composté en kg" class="form-control input-md" value="{{ collecte.weight }}"> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="compost_quality">Qualité du compost</label>
                    <div class="col-md-4">
                        <select id="compostable" name="compost_quality" class="form-control">
                            <option value="bon">Bonne</option>
                            <option value="moyen">Moyenne</option>
                            <option value="mauvais">Mauvaise</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="further_information">Remarques complémentaires</label>  
                    <div class="col-md-4">
                        <textarea class="form-control" id="remarques" name="further_information" placeholder="Remarques complémentaires" value="{{ collecte.further_information }}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="processing_datetime">Date de traitement</label>  
                    <div class="col-md-4">
                        <input id="processing_datetime" name="processing_datetime" type="datetime-local" placeholder="Date de traitement" class="form-control input-md" value="{{ collecte.processing_datetime }}"> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="processing_location">Lieu de traitement</label>
                    <div class="col-md-4">
                        <select id="processing_location " name="processing_location" class="form-control">
                            <option value="">Choississez un lieu de traitement</option>
                            {% for location in locations %}
                             <option value="{{location.id_location_processing}}">{{location.processing_location}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="button1id"></label>
                    <div class="col-md-8">
                        <button id="button1id" name="button1id" class="btn btn-success" type="submit">Valider</button>
                    </div>
                </div>
            </fieldset>
        </form>
{% endblock %}
